---
import ProjectCard from './ProjectCard.astro';
import { getLangFromUrl } from '../utils/i18n.ts';
import { getProjectsByLang } from '../utils/projects.ts';

const lang = getLangFromUrl(Astro.url);
const sortedProjects = await getProjectsByLang(lang);
---

<div class="grid grid-cols-1 md:grid-cols-2 gap-6">
  {sortedProjects.map((project) => (
    <ProjectCard
      title={project.data.title}
      href={project.data.link}
      github={project.data.github}
      imageSrc={project.data.image}
      imageAlt={project.data.title}
      descriptionHTML={project.body || "Sin descripción disponible"}
      techs={project.data.tags}
    />
  ))}
</div>
